* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

#second {
  font-size: 12px;
  font-weight: 500;
  margin: 20px 0;
}

#second #filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin: 14px 80px;
}

#second #filters #categories {
  margin-top: 25px;
}

#second #filters #categories li {
  display: inline;
  margin-right: 20px;
}

#second #filters #categories li:hover {
  color: #F34F3F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active {
  color: red;
}

#filter-span {
  position: fixed;
  right: 84px;
  cursor: pointer;
  z-index: 1;
}

#filter-span:hover #filter-dropdown {
  visibility: visible;
}

#filter-dropdown {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  visibility: hidden;
  right: -7px;
}

#filter-dropdown ul {
  margin: 39px;
}

#filter-dropdown ul li {
  list-style-type: none;
  padding: 5px;
}

#filter-dropdown ul li:hover {
  color: #000000;
}

#sort-h2-font,
#price-h2-font {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 400;
  color: #2b2b2b;
}

#product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
  text-align: center;
}

#product-cards .card .card-image {
  overflow: hidden;
}

#product-cards .card img {
  width: 245px;
  height: 316px;
}

#product-cards .card img:hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#product-cards .card .card-summary {
  position: relative;
}

#product-cards .card .card-summary .item-name {
  margin: 10px 0;
  letter-spacing: 1px;
}

#product-cards .card .card-summary .item-price {
  color: #868675;
  font-weight: 300;
}

#product-cards .card .card-summary .add-to-card,
#product-cards .card .card-summary .read-more,
#product-cards .card .card-summary .view-products,
#product-cards .card .card-summary .buy-on-amazon {
  visibility: hidden;
  position: absolute;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

#product-cards .card .card-summary .add-to-card a,
#product-cards .card .card-summary .read-more a,
#product-cards .card .card-summary .view-products a,
#product-cards .card .card-summary .buy-on-amazon a {
  color: #868675;
  font-weight: 400;
}

#product-cards .card:hover .add-to-card,
#product-cards .card:hover .read-more {
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(120%);
          transform: translate(120%);
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

#product-cards .card:hover .item-price {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform: translate(20%);
          transform: translate(20%);
  visibility: hidden;
}

#product-cards .card:hover .view-products,
#product-cards .card:hover .buy-on-amazon {
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(90%);
          transform: translate(90%);
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container img {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=index.css.map */